@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 60px 0;
  background: #f2f2f2;
  display: flex;
}
.form {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 70px 1fr 70px;
}
.form__register {
  background: white;
  padding: 35px 30px;
  border-radius: 8px;
  grid-column: 1/4;
  grid-row: 2/3;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  max-width: 400px;
  z-index: 1;
}
.form__picture {
  grid-column: 2/-1;
  grid-row: 1/-1;
  background-image: url(img/background.jpg);
  background-size: cover;
  border-radius: 16px;
}
.form__groups {
  position: relative;
}
.form__title {
  font-size: 2.3rem;
  margin-bottom: 8px;
  color: #2196f3;
}
.form__paragraph {
  color: #929296;
  line-height: 1.5;
}
.form__link {
  color: #151212;
}
.form__inputs {
  margin-top: 40px;
  display: grid;
  gap: 2em;
}
.form__input {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  color: #6c6c6c;
  outline: none;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid #49454567;
  font-family: "Poppins", sans-serif;
}
.form__input:focus {
  color: rgb(94, 93, 93);
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  color: #2196f3;
  transform: scale(0.7) translateY(-34px);
  transform-origin: top left;
}
.form__input:focus ~ .form__bar {
  transform: scale(1);
}
.form__bar {
  position: absolute;
  border-bottom: 1px solid #2196f3;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  transition: 0.3s transform;
  transform-origin: left bottom;
}
.form__label {
  position: absolute;
  color: #49454567;
  font-size: 1rem;
  left: 5px;
  top: 10px;
  /* para no poder tocar el label y poder escribir sobre el input*/
  pointer-events: none;
  transition: 0.5s transform, color 0.3s;
}
